@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: slategrey;
    color: whitesmoke;
    position: fixed;
    top: 0;
    height: 7vh;
    width: 100vw;
}

#home {
    display: block;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#notFound {
    display: block;
    text-align: center;
    padding: 50vh;
    color: black;
}

#index-body {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#show-body {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.button {
    background-color: slategrey;
    color: whitesmoke;
    border: 1px solid slategrey;
    border-radius: 5px;
    padding: 10px;
}

.button:hover {
    background-color: whitesmoke;
    color: slategrey;
}

.form {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.index-card {
    border: 1px solid slategrey;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: slategrey;
}

a {
    color: whitesmoke;
    font-size: 2vh;
}

h1 {
    padding-left: 3vw;
    font-size: 4vh;
}