@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: slategrey;
  color: whitesmoke;
  position: fixed;
  padding-top: 1.25vh;
  padding-left: 2vh;
  top: 0;
  height: 7vh;
  width: 100vw;
}

#home {
  display: block;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#notFound {
  display: block;
  text-align: center;
  padding: 50vh;
  color: black;
}

#index-body {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#my-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.body-container {
  display: flex;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vh;
}

.button {
  background-color: slategrey;
  color: whitesmoke;
  border: 1px solid slategrey;
  border-radius: 5px;
  padding: 10px;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-size: 2vh;
}

.button:hover {
  background-color: whitesmoke;
  color: black;
}

.form {
  width: 75%;
  padding-top: 10vh;
  padding-left: 12.5%;
  padding-bottom: 10vh;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 5vh;
}

.index-card {
  text-align: center;
  border: 1px solid slategrey;
  border-radius: 5px;
  margin: 1vh 1vw 1vh 1vw;
  padding: 10px;
}

.my-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: slategrey;
}

.show-body {
  display: flex;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-around;
}

a {
  color: whitesmoke;
  font-size: 2vh;
}

a:hover {
  color: black;
}

h1 {
  font-size: 4vh;
}

h3 {
  font-size: 3vh;
}

p {
  font-size: 2vh;
}

.custom-control-input-black:focus ~ .custom-control-label::before {
  border-color: black !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}

.custom-control-input-black:checked ~ .custom-control-label::before {
  border-color: black !important;
  background-color: black !important;
}

.custom-control-input-black:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: black !important;
}

.custom-control-input-black:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: white !important;
  border-color: white !important;
}
