@import 'bootstrap';

#header {
    text-align: center;
    background-color: slategrey;
    color: whitesmoke;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100vw;
}

#home {
    display: block;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: slategrey;
}

a {
    color: whitesmoke;
}